<mat-toolbar>
  <span>Update City</span>
</mat-toolbar>

<mat-card appearance="outlined">

  <mat-card-content>
    <form [formGroup]="cityForm">
      <mat-form-field>
        <mat-label>City Id</mat-label>
        <input matInput formControlName="id"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>City Name</mat-label>
        <input matInput formControlName="cityName"/>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Postal Code</mat-label>
        <input matInput formControlName="postalCode"/>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryId">
          <mat-option *ngFor="let country of countries" [value]="country.countryId">
            {{ country.countryName }}
          </mat-option>
          <mat-option (click)="openAddCountryDialog()" class="add-new-country">
            <span>Add New Country</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <div class="buttons">
        <button mat-raised-button (click)="onSubmit()">Save</button>
        <button mat-raised-button [routerLink]="['/dashboard/city']">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>  
