<mat-toolbar>
  <span>Cities</span>
</mat-toolbar>


<table mat-table [dataSource]="cities" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let city"> {{city.cityId}} </td>
  </ng-container>

  <ng-container matColumnDef="city_name">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let city"> {{city.cityName}} </td>
  </ng-container>

  <ng-container matColumnDef="country_id">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell *matCellDef="let city"> {{city.countryDTO.countryName}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let city">
      <button mat-stroked-button (click)="viewDetails(city.cityId)">View More</button>
      <button mat-stroked-button (click)="openDeleteDialog(city.cityId)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-city-delete *ngIf="showDeleteDialog"
                  [cityId]="cityToDeleteId"
                  (delete)="deleteCityById($event)"
                  (cancelDelete)="cancelDelete()">
</app-city-delete>