<mat-toolbar>
  <span>Order Items</span>
  <button mat-stroked-button [routerLink]="['/addOrderItem']">+ Add Order Item</button>
</mat-toolbar>


<table mat-table [dataSource]="orderItems" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let customerOrderItem"> {{customerOrderItem.orderItemId}} </td>
  </ng-container>

  <ng-container matColumnDef="order_id">
    <th mat-header-cell *matHeaderCellDef> Order Number </th>
    <td mat-cell *matCellDef="let orderItem">{{orderItem.orderDTO.orderNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="order_price">
    <th mat-header-cell *matHeaderCellDef> Order Price </th>
    <td mat-cell *matCellDef="let orderItem">$ {{orderItem.orderPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let orderItem">
      <button mat-stroked-button (click)="viewDetails(orderItem.orderItemId)">View More</button>
      <button mat-stroked-button (click)="openDeleteDialog(orderItem.orderItemId)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-order-item-delete *ngIf="showDeleteDialog"
                        [orderItemId]="orderItemIdToDelete"
                        (delete)="deleteOrderItemById($event)"
                        (cancelDelete)="cancelDelete()">  
</app-order-item-delete>