<mat-toolbar>
  <span>Regions</span>
  <button mat-stroked-button [routerLink]="['/addRegion']">+ Add Region</button>
</mat-toolbar>

<table mat-table [dataSource]="displayedRegions" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let region"> {{region.regionId}} </td>
  </ng-container>

  <ng-container matColumnDef="region_name">
    <th mat-header-cell *matHeaderCellDef> Region Name </th>
    <td mat-cell *matCellDef="let region">  {{region.regionName}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let region">
      <button mat-stroked-button (click)="viewDetails(region.regionId)">View More</button>
      <button mat-stroked-button (click)="openDeleteDialog(region.regionId)">Delete</button>
      <button mat-stroked-button [routerLink]="['/updateRegion', region.regionId]">Update</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalRegions"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 15]"
              aria-label="Select page"
              (page)="paginatedRegions()">
</mat-paginator>

<app-region-delete *ngIf="showDeleteDialog"
                    [regionId]="regionIdToDelete"
                    (delete)="deleteRegionById($event)"
                    (cancelDelete)="cancel()">
</app-region-delete>