<div>
  <button mat-stroked-button [routerLink]="['/dashboard/city']"><mat-icon>arrow_back</mat-icon></button>
</div>

<mat-toolbar>
  <span>City Details</span>
</mat-toolbar>


<div class="table-container">
  <mat-card-content *ngIf="cities">
    <table mat-table [dataSource]="[cities]" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let city"> {{city.cityId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="city_name">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let city"> {{city.cityName}} </td>
      </ng-container>

      <ng-container matColumnDef="country_id">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let city"> {{city.countryDTO.countryName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="postal_code">
        <th mat-header-cell *matHeaderCellDef> Postal Code </th>
        <td mat-cell *matCellDef="let city"> {{city.postalCode}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let city">
          <button mat-stroked-button [routerLink]="['/updateCity', city.cityId]">Update</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</div>