<mat-toolbar>
  <span>Stores</span>
</mat-toolbar>


<table mat-table [dataSource]="stores" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let store"> {{store.id}} </td>
  </ng-container>

  <ng-container matColumnDef="store_name">
    <th mat-header-cell *matHeaderCellDef> Store Name </th>
    <td mat-cell *matCellDef="let store">  {{store.store_name}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let store">  {{store.address}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let store">
      <button mat-stroked-button (click)="viewDetails(store.id)">View More</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>